<!-- <div class="toolbar flex layout-row">

  <div>
    <img src="img/BC.jpg"></div>
  </div>

  <a>

  </a>


</div> -->


  <div class="slide layout-column layout-align-xs-center-center layout-align-gt-xs-center-center">

    <div>
      <!-- logo -->
      <div class="layout-row layout-align-xs-center-center layout-align-gt-xs-center-center">
        <div>
          <img class="logo" src="img/BC.jpg">
        </div>
      </div>

      <!-- logo title (ourname) -->
      <div class="layout-row layout-align-xs-center-center layout-align-gt-xs-center-center">
        <span class="logo-title">Blogshop Collective</span>
      </div>

      <!-- one liner what we are -->
      <div class=" layout-row layout-align-xs-center-center layout-align-gt-xs-center-center">
        <span class="tagline">{ Coming Soon }</span>
      </div>
    </div>

  </div>
  <!-- <div class="slide">

  </div> -->
  <!-- Only priority -->
  <!-- Quaterly Newsletters -->
  <!-- Update once, Changes everywhere -->
  <!-- Super sonic fast -->
  <!-- Marketing Platform -->
  <!-- Niche marketing -->



<script>
  var slides = document.getElementsByClassName('slide');

  for (var i = 0; i < slides.length; i++) {
    slides[i].style.height = window.innerHeight + "px";
  }

</script>
